<!doctype html>
<html>
  <head>
    <title>Rflux isomorphic boileplate</title>
    <link href='/main.css' rel="stylesheet">
    <script>
      window.state = <%- state %>;
    </script>
  </head>
  <body>
    <!-- reactOutput is the server compiled React Dom Nodes -->
    <!-- comment out reactOutput to see empty non indexable source in browser -->
    <div id="app"><%- reactOutput %></div>

    <!-- comment out main.js to ONLY see server side rendering -->
    <script src="/main.js"></script>


  </body>
</html>